@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="BooksLibrary" content="Book Shop">
    <title> About us </title>
    <link rel="icon" href="~/books/pictures/book store.icon">
    <link rel="stylesheet" href="~/css/About.css">
</head>
<body>
    <div class="content">
        <div class="text">
            <p>This library was established in June 2023. One of its important goals was to save time and effort for the users in order to reach the books they usually search for ,and for those books that some people have difficulty finding it in their modern versions, so we liked to establish this library to serve customers and make sure that our library meets your high expectations.We hope that you will be satisfied from this web page.</p>
        </div>
    </div>
</body>
</html>