@{
    ViewData["Title"] = "Contact Us";
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Contact Us </title>
        <link rel="icon" href="~/books/pictures/book store.icon" />
        <link rel="stylesheet" href="~/css/Contact us.css" />
    </head>
    <body>
        <div class="coin">
            <p class="we">
                We are three students from Palestine-Jenin studying computer systems engineering at the
                Arab American University in our fourth year. We designed this web page for the book store
                for a web programming course project, and our names are
                <u> Hamza Hawasheen </u> , <u> Yousef Khalil </u> and <u> Mohammad Yahya </u>
            </p>
            <br />
            <form>
                <label> User name </label>
                <input type="text" name="name" placeholder="Your Name" required/>
                <br />
                <label> Email </label>
                <input type="text" name="name" placeholder="Your Email" required />
                <br />
                <label> Comment </label>
                <br />
                <textarea name="message" cols="30" rows="10" required placeholder="Your Comment"></textarea>
                <br />
                <br />
                <input type="submit" name="submit" value="send" class="one"/>
                <br />
            </form>
        </div>
    </body>
</html>