@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="BooksLibrary" content="Book Shop">
    <title> Home Page </title>
    <link rel="icon" href="~/books/pictures/book store.icon">
    <link rel="stylesheet" href="~/css/home page.css">
</head>
<body>
    <div class="content">
        <div class="text">
            <h2>VetaBook <br>Free Library</h2>
            <p>Welcome to our library.. <br>One of the biggest libraries in Palestine. Which is keen to provide a large amount of books in various fields, including educational and recreational ones, "for free".. We hope to enjoy the abundance of the books we have. </p>
        </div>
        <div class="image">
            <img src="https://img.freepik.com/premium-photo/blurred-bookshelf-many-old-books-book-shop-library_36051-477.jpg" alt="Veta book library">
        </div>
    </div>
</body>
</html>