@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Login Page </title>
        <link rel="icon" href="~/books/pictures/book store.icon">
        <link rel="stylesheet" href="~/css/login.css">
    </head>
    <body>
        <div class="cointener">
        <div class="one">
            <h2> Login </h2>
            <div class="two">
                <form asp-controller="Home" asp-action="Login" method="post">
                    <table>
                        <tr>
                            <td><label for="em" class="three"> Email </label></td>
                            <td><input id="em" type="email" required placeholder="Enter your Email" name="email"></td>
                        </tr>
                        <tr>
                            <td><label for="pass"> Password </label></td>
                            <td><input id="pass" type="password" required placeholder="Enter your Password" name="password"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Login" class="five"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>