html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.link {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 20px;
}
.link:hover {
    text-decoration: underline;
    color: cyan;
}