@model AdminModel
@{
    ViewData["Title"] = "Change Password";
}
<style>
    .h5 {
        border-radius: 25px;
        text-decoration: underline;
        color: black;
        ;
    }

    td, th {
        text-align: center;
    }
</style>
<div class="con">
    <div class="one">
        <h2>  </h2>
        <div class="two">
            <form asp-controller="Admin" asp-action="ChangePassword" method="post">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td colspan="2"><h3> Change Password </h3></td>
                    </tr>
                    <tr>
                        <th><label class="three" ></label></th>
                        <td><input type="password" placeholder="New Password" name="newpass"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit"> Change Password </button></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="h5" asp-controller="Admin" asp-action="Index"> Back to the Admin Page </a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>